<section>
    <h1>Why me</h1>

    <div class="whyme-content">
        <div class="location">
            <img src="assets/img/location-icon.svg" alt="Location">
            <span><span class="highlight">I am</span> located in Bonn.</span>
        </div>

        <div class="txt-content">
            <p>Why are you passionate about coding?<br>
                A problem-solving mindset is always a good starting point. You take complex technical 
                problems and turn them into easy-to-understand, user-friendly solutions.
            </p>
            <div class="button-container">
                <button>Let’s talk</button>
            </div>
        </div>
    </div>
</section>
