<section>
    
    <div class="main-content">
        
        <div class="profile-image">
            <img class="person" src="assets/img/albina.png" alt="">
        </div>
        <div class="main-info">
         
            <div class="logo">
                <img class="logo-default" src="assets/img/default-logo.svg" alt="">
                <img class="logo-hover" src="assets/img/hover-logo.svg" alt="">
                <div class="social-media">
                    <img src="assets/img/default-github.svg" alt="">
                    <img src="assets/img/default-linkedin.svg" alt="">
                    <img src="assets/img/default-email.svg" alt="">
                </div>
            </div>
            <h1>Albina Januzi</h1>
            <h2>FRONTEND DEVELOPER</h2>
            
            <div class="arrow">
                <a href="#whyme">
                    <img src="assets/img/default-arrowDown.svg" alt="">
                </a>
            </div>
        </div>
    </div>
    <div id="navbar"><app-navbar></app-navbar></div>
    
</section>
