.navbar-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #89BCD9;
    height: 104px;
    width:100%;
    font-family: 'Josefin Sans';
}

.navbar-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:80px;
  
}

a{
    text-decoration: none;
    font-size: 26px;
    color:#262E34;
}

a:hover{
    color:white;
}

.language{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

